<form action=" {% url 'buscar_producto' %}" method="POST">{% csrf_token %}
    <div class="card mt-4" style="border-radius: 25px; box-shadow: 5px 10px lightgray;">
        <div class="card-header bg-dark text-white px-3 py-2 position-relative" style="border-radius: 25px 25px 0 0">
            Buscador
        </div>
        <div class="card-body px-3 pt-2 pb-0">
            <div class="form-group row">
                <label class="col-form-label col-sm-2 required" for="nombre">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" id="nombre" name="nombre" value="{{ request.POST.nombre }}"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group row"><label class="col-form-label col-sm-2 required"
                                               for="proveedor_select">Proveedor</label>
                <div class="col-sm-10">
                    <select id="proveedor_select" name="proveedor_select" class="form-control">
                        {% for proveedor in proveedores %}
                            <option value="{{ proveedor.pk }}">{{ proveedor.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-2 required" for="stock">Stock</label>
                <div class="col-sm-10">
                    <select id="stock" name="stock" class="form-control">
                        <option value="True">Si</option>
                        <option value="False">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer text-right px-3 py-2" style="border-radius: 0 0 25px 25px">
            <button type="submit" name="search" value="Search" class="btn btn-sm btn-secondary"><i
                    class="fas fa-search"></i>
                Buscar
            </button>
            <a href="{% url 'productos' %}" class="btn btn-sm btn-outline-secondary"><i
                    class="fas fa-trash-alt"></i> Limpiar
            </a>
        </div>
    </div>
</form>