{% extends 'inventario/base.html' %}
{% load crispy_forms_tags %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center ml-4">
        <h1 class="d-inline-block mr-3">
            {% if nombre %}
                <strong>Producto</strong>
                <small class="text-muted"> {{ nombre }} </small>
            {% else %}
                <strong>Productos</strong>
                <small class="text-muted">Nuevo</small>
            {% endif %}
        </h1>
        <div>
            <a href="{% url 'productos' %}" class="btn btn-secondary mr-3"><i class="fas fa-list"></i> Listado</a>
        </div>
    </div>
    <div class="container-fluid px-2 py-2">
        <div class="col-xl">
            <div class="row flex-fill ">
                <div class="col">
                    <div class="card mt-3" style="border-radius: 25px; box-shadow: 5px 10px lightgray;">
                        <div class="card-header bg-dark" style="border-radius: 25px 25px 0 0"></div>
                        <div class="card-body mt-2 px-3 pt-2 pb-0">
                            {% csrf_token %}
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("id_imagen").onchange = function () {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("miniatura").src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        };
    </script>
{% endblock %}